In [1]:
from ntscraper import Nitter

In [2]:
scraper = Nitter(0)

Testing instances: 100%|███████████████████████████████████████████████████████████████| 28/28 [00:52<00:00,  1.87s/it]

In [8]:
tweets = scraper.get_tweets("india", mode = 'hashtag', number=10)

In [9]:
final_tweets = []
for x in tweets['tweets']:
    data = [x['link'], x['text'],x['date'],x['stats']['likes'],x['stats']['comments']]
    final_tweets.append(data)

In [10]:
dat = pd.DataFrame(final_tweets, columns =['twitter_link','text','date','likes','comments'])

NameError: name 'pd' is not defined

In [110]:
dat

,twitter_link,text,date,likes,comments
0,https://twitter.com/Muhamma5615510/status/1723...,Just remember 2 six to ashwin just remember 4 ...,"Nov 13, 2023 · 7:20 AM UTC",0,0
1,https://twitter.com/bluestone_leo/status/17239...,And the next day they said - “YOU ALL ARE FIRE...,"Nov 13, 2023 · 7:20 AM UTC",0,0
2,https://twitter.com/Wants_to_know__/status/172...,Because it was made from your mother's 🍊🍊 milk 🤱,"Nov 13, 2023 · 7:20 AM UTC",0,0
3,https://twitter.com/total_woke_/status/1723209...,"Dear Friends from Pakistan, This Tweet doesn't...","Nov 11, 2023 · 5:21 AM UTC",3709,55
4,https://twitter.com/asmgn/status/1723963919142...,When bowling was more fantastic. 😂🤣😜,"Nov 13, 2023 · 7:20 AM UTC",0,0
5,https://twitter.com/Raja69313293/status/172396...,"Ek Tha EX50,55,73 😂😂 😂","Nov 13, 2023 · 7:19 AM UTC",0,0
6,https://twitter.com/bsindia/status/17239638212...,"Virender Sehwag, Aravinda de Silva, and Diana ...","Nov 13, 2023 · 7:19 AM UTC",0,0
7,https://twitter.com/Sportskeeda/status/1723937...,Three new inductees in ICC Hall of Fame 🤩 #Cr...,"Nov 13, 2023 · 5:35 AM UTC",285,3
8,https://twitter.com/ManeeshSol84/status/172396...,Induction into ICC Hall of fame 🥳 @virenderseh...,"Nov 13, 2023 · 7:19 AM UTC",0,0
9,https://twitter.com/KhiltaChaman/status/172396...,Dashing - Bowler Bashing Batsman @v...,"Nov 13, 2023 · 7:18 AM UTC",0,0

In [104]:
tweets = scraper.get_profile_info("JeffBezos")

13-Nov-23 12:46:47 - No instance specified, using random instance https://nitter.soopy.moe

In [105]:
tweets

{'image': 'https://pbs.twimg.com/profile_images/1591558315254890500/ETIHb4Nl_400x400.jpg',
 'name': 'Jeff Bezos',
 'username': '@JeffBezos',
 'id': '15506669',
 'bio': 'Amazon. Blue Origin. Washington Post. Bezos Earth Fund. Bezos Academy.',
 'location': '',
 'website': 'https://hoo.be/jeffbezos',
 'joined': '10:38 PM - 20 Jul 2008',
 'stats': {'tweets': 397,
  'following': 276,
  'followers': 6294608,
  'likes': 131,
  'media': 171}}

In [106]:
tweets['image']

'https://pbs.twimg.com/profile_images/1591558315254890500/ETIHb4Nl_400x400.jpg'

In [116]:
def get_tweets(name, modes, no):
    tweets = scraper.get_tweets(name, mode = modes, number=no)
    final_tweets = []
    for x in tweets['tweets']:
        data = [x['link'], x['text'],x['date'],x['stats']['likes'],x['stats']['comments']]
        final_tweets.append(data)
    dat= pd.DataFrame(final_tweets, columns =['twitter_link','text','date','likes','comments'])
    return dat

In [124]:
data = get_tweets('JeffBezos','user',6)

In [122]:
data

,twitter_link,text,date,likes,comments
0,https://twitter.com/SenBillNelson/status/17179...,Impressive visit to the @blueorigin Huntsville...,"Oct 27, 2023 · 2:00 PM UTC",2290,568
1,https://twitter.com/torybruno/status/166661245...,Nominal run!,"Jun 8, 2023 · 1:05 AM UTC",3645,881
2,https://twitter.com/JeffBezos/status/165957630...,Honored to be on this journey with @NASA to la...,"May 19, 2023 · 3:06 PM UTC",12285,3728
3,https://twitter.com/JeffBezos/status/162522482...,Big milestone. Kudos and congrats to the whole...,"Feb 13, 2023 · 8:06 PM UTC",4886,3777
4,https://twitter.com/JeffBezos/status/162046673...,Episode 3 of Last of Us is unbelievably good s...,"Jan 31, 2023 · 4:59 PM UTC",30056,2526
5,https://twitter.com/JeffBezos/status/161941882...,Thank you Bill and Tim. So nice. Gratitude.,"Jan 28, 2023 · 7:35 PM UTC",2833,1097

In [126]:
scraper.get_profile_info('BillGates')

{'image': 'https://pbs.twimg.com/profile_images/1674815862879178752/nTGMV1Eo_400x400.jpg',
 'name': 'Bill Gates',
 'username': '@BillGates',
 'id': '50393960',
 'bio': "Sharing things I'm learning through my foundation work and other interests.",
 'location': 'Seattle, WA',
 'website': 'https://gatesnot.es/blog',
 'joined': '6:44 PM - 24 Jun 2009',
 'stats': {'tweets': 4440,
  'following': 583,
  'followers': 64283753,
  'likes': 540,
  'media': 1511}}